body{
    background-color: #FFF0F5;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 1200px;
    
}
.menu{
    width: 100%;
    padding: 30px;
    padding-left: 170px;
    background-color: black;
    margin: 0px, auto;
    font-weight: bold;
    margin-bottom: 70px;
    
}
.menu-logo{
    font-family: 'Ephesis', cursive;
    color: white;
    text-transform: capitalize;
    font-size: 32px;
    display: inline;
    margin-right: 40px;
}
.enter-logo{
    padding-right: 10px;
}
.menu-buttom{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 17px;
}
#enter-buttom{
    padding-left: 200px;
} 
.box{
    padding-left: 130px;
    padding-bottom: 40px;
}
.price-list-title{
    display: flex;
    font-size: 14px;
}
.link-main{
    text-decoration: none;
    margin-top: 12px;
    font-weight: bold;
    color: black;
}
.link-main-shop{
    text-decoration: none;
    margin-top: 12px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
}
.romb{
    margin-left: 10px;
    margin-top: 10px;
}
.price-text{
    color: darkgrey;
    padding-left: 10px;
    margin-top: 12px;
}
.label{
    padding-left: 0px;
    font-size: 17px;
    text-align: justify;
    
}
span{
    padding-left: 39px;
    margin-bottom: 40px;
}
q{
    quotes:"«" "»";
}

input[type=radio],
input[type=checkbox] {
display: none;
}
input[type=checkbox] + label:before {
    content: "\00D7";
    color: transparent;
    display: inline-block;
    border: 2px solid black;
    font-size: 30px;
    font-weight: 900;
    line-height: 15px;
    margin: 10px 20px 10px 0px;
    height: 17px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #000;
  border-color: #000;
  

}

input[type=radio] + label:before {
    content: "\2022";
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000;
    font-size: 17px;    
    line-height: 15px;
    margin: 0px 20px 20px 0px;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;
    margin-top: 20px;
    
}
input[type=radio]:checked + label:before {
    font-size: 30px;   
    margin-top: 20px; 
}
.chek-box2{
    margin-top: 20px;
    
}
.chek-box3{
    margin-top: 20px;
}
.chek-box4{
    margin-top: 20px;
}
.chek-box5{
    margin-top: 20px;
}
.chek-box6{
    margin-top: 20px;
}
.radiobut1{
    margin-top: 20px;
}
.radiobut2{
    margin-top: 40px;
}
.radiobut3{
    margin-top: 20px;
}
.block-first{
    padding-left: 130px;
    width: 230px;
}
.block-second{
    padding-left: 130px;
    width: 230px;
}
.container-first{
   display: flex;
}
.container-second{
    display: flex;
    margin-top: -40px;
}
.container-goods{
   padding-left: 100px;
   width: 150px;
   padding-bottom: 40px;
   display: flex;
   margin-top: 30px;
}
.container-goods2{
    padding-left: 100px;
    width: 150px;  
    display: flex;
    margin-top: 30px;
}
.first-goods-row1{
    box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.64);
    padding: 15px 20px;
    background-color: white;
}
.first-goods-row2{
    margin-left: 30px;
    box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.64);
    padding: 15px 20px;
    background-color: white;
}
.first-goods-row3{
    margin-left: 30px;
    box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.64);
    padding: 15px 20px;
    background-color: white;
}
.second-goods-row1{
    box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.64);
    padding: 15px 20px;
    background-color: white;
}
.second-goods-row2{
    margin-left: 30px;
    box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.64);
    padding: 15px 20px;
    background-color: white;
}
.second-goods-row3{
   margin-left: 30px;
    box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.64);
    padding: 15px 20px;
    background-color: white;
}
.goods-text{
    font-size: 14px;
    text-transform: none;
    margin-left: -5px;
    
}
.goods-text-firm{
    font-size: 14px;
    margin-left: -5px;
    margin-top: -5px;
}
.trade{
    display: flex;
    padding-left: 30px;
    
}
.price{
    margin-left: -35px;
    padding: 10px 10px;
    width: 80px;
    background-color: #D3D3D3;
    padding-left: 10px;
      
}
.buy{
    margin-top: 16px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-bottom: 16px; 
}
.photo1{
    display: block;
    margin: 0 auto;
}
.photo2{
    display: block;
    margin: 0 auto;
}
.photo3{
    display: block;
    margin: 0 auto;
}
.photo4{
    display: block;
    margin: 0 auto;
}
.photo5{
    display: block;
    margin: 0 auto;
}
.photo6{
    display: block;
    margin: 0 auto;
}
.sort-button{
    padding: 10px 30px;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 0px;
}

.footer{
    width: 100%;
    display: flex;
    height: 170px;
    padding-left: 130px;
    margin-top: 100px;
    color: white;
    background-color: rgb(34, 31, 31);
    font-size: 14px;
}
.info{
    text-transform: uppercase;
    
    
}
.info-link{
    color: white;
}
.socnetw{
    padding-left: 300px;
}
.fb{
   margin-left: 5px;
}
.insta{
    margin-left: 1px;
}
.developed{
    padding-left: 300px;
}
.dev-title{
    padding-bottom: 10px;
}
.devbuttom{
    text-decoration: none;
    padding: 10px 25px ;
    background-color: black;
    color: white;
    text-transform: uppercase;
    
}